{% extends ':front:base.html.twig' %}

{% block content %}

    <body id="body">
    <!-- class="start-menuHide side-menu-hidden" -->
    <div class="main-wrapper" id="main-wrapper">
        {% include 'FrontBundle:Main/include:header.html.twig' %}
        <div class="main-content">
            <aside id="side-navigation">
                <div class="side-navigation-inner">
                    <h4 class="h5 strong6 main-color p-3 sideMenuHead">
                        <a href="#" class="styled-icon styled-icon--xs styled-icon--round menu-trigger main-color "> <i
                                    class="ti-close"></i> </a>
                        <a href="#" class="main-logo d-inline-block align-top"> <img src="../assets/img/logo.jpg" alt=""></a>
                    </h4>
                    <div class="side-nav">
                        {% include 'FrontBundle:Main/include:side_menu.html.twig' %}
                        {% include 'FrontBundle:Main/include:side_nav_tabs.html.twig' %}
                    </div>
                </div>
            </aside>
            <section id="main-sec">
                <div id="mainView" class="mainView-normal">
                    <div class="main-sec-header">
                        <div class="main-page-header-top p-4">
                            <div class="page-header-top-title">
                                <h1 class="h2 mb-0">
                                <span class="styled-icon styled-icon-imgCenter styled-icon--sm styled-icon--dark"
                                      style="background-color: #cc7e7e;">
                                    <i class="ti-comment-alt"></i>
                                </span>
                                    <span class="page-header-top-text"> {{ 'front.main.articles'|trans }}</span>
                                </h1>
                            </div>
                            <div class="page-header-top-side mr-auto">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a
                                                href="{{ path('front_main_index') }}">{{ 'front.main_side_menu.home'|trans }}</a>
                                    </li>
                                    <li class="breadcrumb-item active"
                                        aria-current="page">{{ 'front.main.new_articles'|trans }}</li>
                                    <li class="rss-item">
                                        <a href="#"
                                           class="styled-icon ripple styled-icon--xs styled-icon--borderd bg-color-light">
                                            <i class="ti-rss-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-sec-inner mainView-content p-4">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 mb-4">
                                <div class="card">
                                    <ul class="thumbnails-blogList">
                                        {% for article in newArticles %}
                                            <li>
                                                <div class="thumbnail-item side-thumbnail-item">
                                                    <a href="#" class="thumb-head blog-thumb-head-big">
                                                        <div class="thumb-head-inner">
                                                            <div class="thumbnail-img thumbnail-img-h100">
                                                                <img src="{{ asset(article.photo) }}"
                                                                     alt="image descriptions">
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="thumb-body">
                                                        <div class="thumb-body-inner">
                                                            <a href="{{ path('front_main_article_details', {'id': article.id}) }}"
                                                               class="block mb-3"><h3
                                                                        class="strong5">{{ article.title }}</h3></a>
                                                            <p>
                                                                {{ article.description|striptags|length > 200 ? article.description|striptags|slice(0, 200) ~ ' ... ' : article.description|striptags }}
                                                            </p>
                                                            <div class="mt-3">
                                                                <small class="text_gray">{{ HijriDate.toHijriDate(article.createdAt) }} {{ 'admin.titles.hijri'|trans }}</small>
                                                            </div>
                                                            <div class="mt-2">
                                                                <a href="#" class="color2"><i
                                                                            class="ti-user"></i>{{ article.author }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="text-center mt-4 mb-4">
                                    {{ knp_pagination_render(newArticles) }}
                                </div>
                            </div>
                            {% include 'FrontBundle:Main/include:new_articles.html.twig' %}
                        </div>
                    </div>
                </div>
                {% include 'FrontBundle:Main/include:footer.html.twig' %}
            </section>
        </div>
    </div>
    <!-- End of main-wrapper -->
    <span class="menu-trigger menu-trigger-overlay"></span>
    <a class="scrollup"><i class="ti-arrow-up"></i></a>
    {% include 'FrontBundle:Main/include:login_modal.html.twig' %}
{% endblock %}